@import "foundation";
@import "pygments";

@font-face {
  font-family: "SubwayTicker";
  src: url(/fonts/subway_ticker-webfont.eot);
  src: url(/fonts/subway_ticker-webfont.eot?#iefix) format('eot'),
       url(/fonts/subway_ticker-webfont.ttf) format('truetype'),
       url(/fonts/subway_ticker-webfont.woff) format('woff'),
       url(/fonts/subway_ticker-webfont.svg) format('svg');
}

@font-face {
  font-family: "Alexbrush";
  src: url(/fonts/alexbrush-regular-webfont.eot);
  src: url(/fonts/alexbrush-regular-webfont.eot?#iefix) format('eot'),
       url(/fonts/alexbrush-regular-webfont.ttf) format('truetype'),
       url(/fonts/alexbrush-regular-webfont.woff) format('woff'),
       url(/fonts/alexbrush-regular-webfont.svg) format('svg');
}

body {
  padding: 50px 0;
}

h1 {
  font-family: "SubwayTicker";
}

h2 {
  font-family: "Alexbrush";
  font-size: 50px;
}

a {
  color: inherit;

  &:hover {
    color: inherit;
  }
}
