@import "foundation";
@import "pygments";

@font-face {
  font-family: "SubwayTicker";
  src: url(/fonts/subway_ticker-webfont.eot);
  src: url(/fonts/subway_ticker-webfont.eot?#iefix) format('eot'),
       url(/fonts/subway_ticker-webfont.ttf) format('truetype'),
       url(/fonts/subway_ticker-webfont.woff) format('woff'),
       url(/fonts/subway_ticker-webfont.svg) format('svg');
}

body {
  padding: 50px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "SubwayTicker";
  margin-bottom: 10px;
}

a {
  color: #666;

  &:hover {
    color: inherit;
  }
}
